main {
   padding-top: 80px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 236, 233);
    color: #333;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;

}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.navbar ul li {
    flex: 1;
    /* mỗi nút chiếm đều không gian */
    text-align: center;
}

/* Liên kết */
.navbar ul li a {
    display: block;
    /* để áp dụng padding đúng */
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    background-color: blanchedalmond;
    border: 2px solid blanchedalmond;
    color: black;
}

.navbar ul li a:focus {
    background-color: blanchedalmond;
    color: black;
    border: 2px solid blanchedalmond;
}

.navbar ul li a.active {
    background-color: blanchedalmond;
    color: black;
    border: 2px solid blanchedalmond;

}


/* ☰  */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    position: absolute;
    right: 20px;
    top: 15px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
    }

    .navbar ul.active {
        display: flex;
    }
}





/* HOME */

.container_home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 20px;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 70vh;
}

.intro {
    flex: 1;
    min-width: 250px;
    max-width: 500px;
    padding: 20px;


}

.intro h1 {
    font-size: 50px;
    margin: 0px;
}

.photo img {
    max-width: 500px;
    border-radius: 10px;
}


/* ABOUT */

.container_about {
    position: relative;
    top: 50px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    min-height: 75hv;
}

.about-box {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


}

.about-box h2 {
    color: #007BFF;
    text-align: center;
    font-size: 50px;

}

.about-box ul {
    display: flex;
    flex-wrap: wrap;
}


.about-box li {
    background-color: #333;
    color: white;
    margin: 10px auto 10px 10px;
    padding: 20px;
    list-style: none;
    max-width: 400px;
    font-size: 25px;
    border-radius: 10px;
    flex: 0 0 calc(50% - 10px);


}


/* CONTACT */

.contact-list {

    list-style: none;
    line-height: 3.0;
    font-size: 40px;

}

.contact-list h2 { 
    text-align: center;
}

.contact-list li {
    background-color: #c49cdc;
    max-width: 1500px;
    margin: 10px;
    padding: 0px 0px 0px 20px;
    border-radius: 10px;

}